*
{
	padding: 0;
	margin: 0;
}

body
{
	font-family: Helvetica, Arial, sans-serif;	
	/*line-height: 2.2em;*/
    color:black;
    font-size:62.5%;
    /*overflow:hidden;*/
}
form
{
	overflow: hidden;
	height: 1%;
	margin: 20px 0;
}

fieldset
{
	border: solid 1px white;
	padding: 10px;
	padding-bottom:0;
}

legend
{
	padding:5px;
	padding-left:0px;
}
input.text
{
	border: 1px solid #789208;
	height: 20px;
	vertical-align: middle;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 20px;
	font-size: 13px;
	font-weight: inherit;
	font-family: Arial "ÐÂËÎÌå";
}
table
{
	font-size:14px;
}
table.dummy
{
	border-collapse: collapse;
}
table.dummy th, table.dummy td
{
	padding: 6px;
	padding-bottom:0;
	min-height:2em;
}

table.innertable
{
}
table.innertable td
{
	padding-top:0;
	padding-bottom:0;
}

table.realtable
{
	border-collapse: collapse;
	font-size:12px;
}
table.realtable th, table.realtable td
{
	padding: 5px;
	border: 1px solid #aaa;
}
input[type=submit]
{
	font-size: 12px;
	width: 70px;
}
.checkdiv
{
	float: left;
	padding: 2px 2px 2px 2px;
}

select
{
	width: 100px;
}

.slider
{
	font-size:62.5%;
}

.inform
{
	height:32px;
	width:130px;
}
/* moved to custom-ui.js
#tabs
{
	background-color:#555555;
	background-image:none;
}

#tabs div
{
	font-family: Helvetica, Arial, sans-serif;
	color:black;
	background-color:White;
}

#tabs ul li a
{
	font-size: 12px;
	padding:10px 20px 10px 20px;
}

#tabs div table input[type=submit]
{
	font-size: 12px;
	width: 70px;
}
*/

/*for test only*/
.show_boudry
{
	border-style:solid;
	border-width:1px;
	border-color:Red;
}

.ui-tabs .ui-tabs-panel {
    padding:20px 20px 20px 40px;
}

.ui-menu-item {
    /*add this line to jquery-ui css when upate jquery-ui*/
    /*padding:.405em 2.1em .405em 1em;*/
    font-size:11px;
    line-height:1.4em;
}
.ui-progressbar-value{
    background:url(jq-ui/images/ui-bg_glass_35_222222_1x400.png) repeat-x 50% 50%;
    border:none;
}

.dialog {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#808080;
    background:rgba(0,0,0,.7);
    z-index:2;
    overflow:auto;
}
#rec_dialog_inner{
    /*width:600px;
    height:550px;*/
    width:100%;
    height:100%;
    background:white;
    /*padding:30px;*/
    /*position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-300px;*/
}
.title_td{
    border-bottom:1px solid #aaa;
    font-weight:bold;
}
#led_dialog_inner{
    width:600px;
    height:100px;
    background:white;
    padding:30px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-100px;
}
#ivs_parameter{
    border:1px solid #aaa;
    padding:0 10px;
    margin-top:40px;
}
#time_period_container{
    width: 504px;
    height: 42px;
    position: relative;
}
#draw_tb{
    border-collapse: collapse;
    width: 480px;
}
#draw_tb td{
    width: 19px;
    height: 19px;
    border: 1px solid #aaa;
    padding: 0;
}
#draw_div{
    position: absolute;
    width: 480px;
    height: 20px;
    left: 0;
    top: 21px;
}
#draw_div div{
    position: absolute;
    height: 17px;
}
.focus_obj{
    background:rgba(255,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFF0000,endColorstr=#7FFF0000);
    z-index:1
}
.blur_obj{
    background:#ccc;
    z-index:0
}
#hour_ul{
    width: 480px;
    height: 20px;
    margin-left: -8px;
    float: left;
    padding: 0;
    font-size: 12px;
}
#hour_ul li{
    width: 20px;
    height: 20px;
    float: left;
    list-style: none;
    line-height: 20px;
}